@model DominoPark.Models.LoginModel
@{
    ViewBag.Title = "Home";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { name = "login-form", @class="login-form"}))
{
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Sign In</h1><!--END TITLE-->
    <!--DESCRIPTION--><span>Login to start playing today.</span><!--END DESCRIPTION-->
    </div>
    <!--END HEADER-->
	
	<!--CONTENT-->
    <div class="content">
	<!--USERNAME-->
        @Html.TextBoxFor(m => m.UserName, new {@class ="input username", onfocus="this.value=''",PlaceHolder ="Username" })
    <!--END USERNAME-->
    <!--PASSWORD-->
         @Html.PasswordFor(m => m.Password, new {@class ="input password",onfocus="this.value=''",PlaceHolder="Password" })
    <!--END PASSWORD-->
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div class="footer">
    <!--LOGIN BUTTON--><input type="submit" name="submit" value="Login" class="button" /><!--END LOGIN BUTTON-->
    <!--REGISTER BUTTON-->@Html.ActionLink("Register", "Register", "Account", null, new {@class="register" })<!--END REGISTER BUTTON-->
    </div>
    <!--END FOOTER-->
}

