@model DominoPark.Models.LocalPasswordModel

<h3>Change password</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

   <table style="margin-left:100px;">
        <tr>
            <td>
                @Html.PasswordFor(m => m.OldPassword, new {@class="m-wrap m-ctrl-huge",PlaceHolder="Old password" })
            </td>
        </tr>
       <tr>
            <td>            
                @Html.PasswordFor(m => m.NewPassword, new {@class="m-wrap m-ctrl-huge",PlaceHolder="New password" })
            </td>
       </tr>
       <tr>
            <td>            
                @Html.PasswordFor(m => m.ConfirmPassword, new {@class="m-wrap m-ctrl-huge", PlaceHolder="Confirm password" })
            </td>
       </tr>
        
    </table>
    <input style="margin-left:250px;" class="m-btn green rnd" type="submit" value="Change password" />
}
