@model DominoPark.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { name = "login-form", @class="login-form",style="width:350px;"}))
{    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!--HEADER-->
    <div class="header">
    <!--TITLE--><h1>Create a new account.</h1><!--END TITLE-->
    <!--DESCRIPTION--><span>Join the new generation of domino players</span><!--END DESCRIPTION-->
    </div>
    <!--END HEADER-->
	
	<!--CONTENT-->
    <div class="content">
	<!--USERNAME-->
        @Html.TextBoxFor(m => m.UserName, new {@class ="input username", onfocus="this.value=''",PlaceHolder ="Username" })
    <!--END USERNAME-->
    <!--PASSWORD-->
         @Html.PasswordFor(m => m.Password, new {@class ="input password",onfocus="this.value=''",PlaceHolder="Password" })
         @Html.PasswordFor(m => m.ConfirmPassword,new {@class ="input password",onfocus="this.value=''",PlaceHolder="Confirm Password" })
    <!--END PASSWORD-->
    </div>
    <!--END CONTENT-->
    
    <!--FOOTER-->
    <div class="footer">
    <!--LOGIN BUTTON--><input type="submit" name="submit" value="Register" class="button" /><!--END LOGIN BUTTON-->
    @Html.ActionLink("Sign In", "Index", "Home", null, new {@class="register" })
    </div>
    <!--END FOOTER-->
}


